body{
    display:flex;
    justify-content: center;
}
html{
    background-color:#EAF5E6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.basic{
    background-color:#CFE2C3;
    color:#00241B;
}
h1{
    background-color: #65B891;
    color:#00241B
}
h2{
    background-color: #93E5AB;
    color:#00241B
}