body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
html{
    background-color:#EAF5E6;
}
div.basic{
    background-color:#CFE2C3;
    color:#00241B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    width: 50%;
}
h1{
    background-color: #65B891;
    color:#00241B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;

    
}
h2{
    background-color: #93E5AB;
    color:#00241B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
}